body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form{
  text-align: center;
}

.App {
  background: rgba(245, 241, 241, 0.47);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  width: 50vh;
}

form {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.temperature{
  margin: 20px auto;
  font-size: 28px;
  & span {
    text-transform: capitalize;
    font-size: 28px;
  }
}
